 {{!-- <div class="card-img-overlay"> --}}
<h5 class="card-title text-center">Insurance BackDoor</h5>
    <p class="card-text text-center">Your EASY access to your INSURANCE needs</p>
<img src="https://newvideomarketing.com/wp-content/uploads/2017/05/Auto_Insurance_Animated_Video.jpg" class="rounded mx-auto d-block shadow p-3 mb-5 bg-white rounded" alt="...">
   

<p class="text-center">Learn About Different Types of Insurance</p>
<div class="card-group">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <img src="https://image.flaticon.com/icons/svg/1502/1502382.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Auto Insurance</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <img src="https://image.flaticon.com/icons/svg/1498/1498089.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Commercial Insurance</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <img src="https://image.flaticon.com/icons/svg/437/437491.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Life Insurance</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
     </div>
</div>
<div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
  <img src="https://amp.businessinsider.com/images/5b58e9ada592a51e008b461d-750-563.jpg" class="card-img-top newsimg" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">News</h5>
    <p class="card-text text-center">Get the Latest News about What is Currently Happening in the Insurance World.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 shadow p-3 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">College Programs</h5>
        <p class="card-text text-center">Want to see how your Risk Management Program ranks compared to other UNIVERSITIES?</p>
         <img src="https://image.flaticon.com/icons/svg/1495/1495287.svg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
  <div class="col-sm-6 shadow p-3 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Student Community</h5>
        <p class="card-text text-center">Post your COURSE, Rate your PROFFESOR and add your CLASS NOTES</p>
        <img src="https://image.flaticon.com/icons/svg/1147/1147956.svg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 shadow p-3 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Forum</h5>
        <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p>
        <img src="https://image.flaticon.com/icons/svg/942/942751.svg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
  <div class="col-sm-6 shadow p-3 mb-5 bg-white rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Certifications</h5>
        <p class="card-text text-center">Further your INSURANCE education with and stand out above your peers!</p>
      <img src="https://www.flaticon.com/premium-icon/icons/svg/1518/1518372.svg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>



