<div class="article-list">
        <div class="container">
                <div class="intro">
                        <h2 class="text-center" style="font-size: 34px;height: 45px;"><strong>Community</strong></h2>
                        <p class="text-center" style="font-size: 19px;height: 54px;">Post your COURSE, Rate your
                                PROFFESOR
                                and add
                                your CLASS NOTES </p>
                </div>
                <div class="row articles">
                        <div class="col-sm-6 col-md-4 item"><a href="/courses"><img src="https://image.flaticon.com/icons/svg/746/746950.svg"
                                                class="img-fluid" /></a>
                                <h3 class="name">Courses</h3>
                                <p class="description">Add a your course and let your peers know how good or bad it is.</p>
                        </div>
                        <div class="col-sm-6 col-md-4 item"><a href="/courses"><img src="https://image.flaticon.com/icons/svg/1464/1464963.svg"
                                                class="img-fluid" /></a>
                                <h3 class="name">Professors</h3>
                                <p class="description">Add and rate your Professor. Let your peers get an insight on
                                        popularity
                                        of your
                                        Professor. </p>
                        </div>
                        <div class="col-sm-6 col-md-4 item"><a href="/courses"><img src="https://image.flaticon.com/icons/svg/326/326963.svg"
                                                class="img-fluid" /></a>
                                <h3 class="name">Notes</h3>
                                <p class="description">Add your Class Notes and share your knowledge with your peers.
                                        Provide
                                        test
                                        hints so your peers can be more prepared.</p>
                        </div>
                </div>
        </div>
</div>
