<!DOCTYPE>
<html>
    <head>
        <title>Insurance Back Door</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
            <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
      
            <nav class="navbar navbar-dark navbar-expand-md fixed-top bgprimary">
                <div class="container"><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span
                            class="sr-only">Toggle
                            navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav flex-grow-1 justify-content-between">
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/insurances">Insurance Education</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/news">News</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/certifications">Certifications</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/colleges">College Programs</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/communities">Community</a></li>          
                        </ul>
                    </div>
                </div>
           </nav>       
{{!-- FOOTER SECTION --}}
            {{!-- <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <h4>Learn</h4>
                            <ul class="footer-links">
                                <li><a href="#">Insurance</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <h4>News</h>
                            <ul class="footer-links">
                                <li><a href="#">Story of the Day</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <h4>Education</h4>
                            <ul class="footer-links">
                                <li><a href="#">Insurance Education</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <h4>Account</h4>
                            <ul class="footer-links">
                                <li><a href="#">User Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </footer> --}}
            {{{ body }}}
        </body>
       
</html>
