<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="font-size: 34px;height: 45px;"><strong>Insurance Certifications</strong></h2>
            <p class="text-center" style="font-size: 19px;height: 54px;">Further your INSURANCE education with and stand out above your peers!</p>
        </div>
        </div>
        </div>

        <section class="flex-container card-flex">
                    {{!-- <img class="card-img-top ing-fluid" src="https://www.flaticon.com/premium-icon/icons/svg/1546/1546978.svg" alt="Styles Pictures"> --}}

            <div class="card" style="width: 100rem;">
        
                {{!-- <div class="row articles"> --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name">Courses</h3>
                    <p class="description">Add a your course and let your peers know how good or bad it is.</p>
                </div>
            </div>
        
        </section>
        <section class="flex-container card-flex">
            <div class="card" style="width: 100rem;">
        
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name">Courses</h3>
                    <p class="description">Add a your course and let your peers know how good or bad it is.</p>
                </div>
            </div>
        
        </section>
        <section class="flex-container card-flex">
            <div class="card" style="width: 100rem;">
        
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name">Courses</h3>
                    <p class="description">Add a your course and let your peers know how good or bad it is.</p>
                </div>
            </div>
        
        </section>
       
        {{!-- <section class="flex-container"></section>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="/courses"><img src="https://www.flaticon.com/premium-icon/icons/svg/1546/1546978.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Courses</h3>
                <p class="description">Add a your course and let your peers know how good or bad it is.</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="/professors"><img src="https://image.flaticon.com/icons/svg/1464/1464963.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Professors</h3>
                <p class="description">Add and rate your Professor. Let your peers get an insight on
                    popularity
                    of your
                    Professor. </p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="/notes"><img src="https://image.flaticon.com/icons/svg/326/326963.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Notes</h3>
                <p class="description">Add your Class Notes and share your knowledge with your peers.
                    Provide
                    test
                    hints so your peers can be more prepared.</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="/professors"><img src="https://image.flaticon.com/icons/svg/1464/1464963.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Professors</h3>
                <p class="description">Add and rate your Professor. Let your peers get an insight on
                    popularity
                    of your
                    Professor. </p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="/notes"><img src="https://image.flaticon.com/icons/svg/326/326963.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Notes</h3>
                <p class="description">Add your Class Notes and share your knowledge with your peers.
                    Provide
                    test
                    hints so your peers can be more prepared.</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="/notes"><img src="https://image.flaticon.com/icons/svg/326/326963.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Notes</h3>
                <p class="description">Add your Class Notes and share your knowledge with your peers.
                    Provide
                    test
                    hints so your peers can be more prepared.</p>
            </div>
        </div>
    </div>
</div>
</section> --}}
