<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="font-size: 34px;height: 45px;"><strong>Insurance Certifications</strong></h2>
            <p class="text-center" style="font-size: 19px;height: 54px;">Further your INSURANCE education with and stand out above your peers!</p>
<img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/236/236839.svg" alt="Styles Pictures" style="height: 258px;">
        </div>
        </div>
        </div>
        <section class="flex-container card-flex" style="margin:35px;">        
            <div class="card" style="width: 100rem;">
                    <h3 class="name text-center">American Institute for CPCU (AICPCU)</h3>
                    <p class="description">It’s not often that you hear about a $24 billion deal brewing in the financial services industry. It’s even rarer that
                    it goes from confirmation to breakup in less than a day.</p>
                    
                </div>
            {{!-- </div> --}}
        
        </section>
        <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">
        
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name text-center">Certified Insurance Counselors (CIC)</h3>
                    <p class="description">Aon Plc said it’s no longer pursuing a combination with rival insurance brokerage Willis Towers Watson Plc, a day after
                    confirming that it was considering a tie-up.</p>
                    
                </div>
            </div>
        
        </section>
        <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">
        
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name text-center">Certified Insurance Service Representative (CISR)</h3>
                    <p class="description">Marsh & McLennan Inc. (MMC) has been preparing for a major acquisition and admiring its competitor Jardine Lloyd
                    Thompson (JLT) for years. So right after the CEOs of the two firms met on Sept. 7 and he sensed an opening, MMC CEO Dan
                    Glaser acted quickly and boldly.</p>
                 
                </div>
            </div>
        
        </section>
        <section class="flex-container card-flex" style="margin:35px;">        
            <div class="card" style="width: 100rem;">      
                {{!-- <div class="row articles"> --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name text-center">Certified Risk Managers International (CRM)</h3>
                    <p class="description">It’s not often that you hear about a $24 billion deal brewing in the financial services industry. It’s even rarer that
                    it goes from confirmation to breakup in less than a day.</p>
                </div>
            {{!-- </div> --}}
        
        </section>
        <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">       
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name text-center">Certified School Risk Managers (CRM)</h3>
                    <p class="description">Aon Plc said it’s no longer pursuing a combination with rival insurance brokerage Willis Towers Watson Plc, a day after
                    confirming that it was considering a tie-up.</p>           
                </div>
            </div>      
        </section>
         <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">       
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name text-center">Insurance Institute of America, Inc. (IIA)</h3>
                    <p class="description">Aon Plc said it’s no longer pursuing a combination with rival insurance brokerage Willis Towers Watson Plc, a day after
                    confirming that it was considering a tie-up.</p>           
                </div>
            </div>      
        </section>
         <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">       
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name text-center">Certified Insurance Counselors (CIC)</h3>
                    <p class="description">Aon Plc said it’s no longer pursuing a combination with rival insurance brokerage Willis Towers Watson Plc, a day after
                    confirming that it was considering a tie-up.</p>           
                </div>
            </div>      
        </section>
         <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">       
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name text-center">International Society of Certified Employee Benefits Specialists (ISCEBS)</h3>
                    <p class="description">Aon Plc said it’s no longer pursuing a combination with rival insurance brokerage Willis Towers Watson Plc, a day after
                    confirming that it was considering a tie-up.</p>           
                </div>
            </div>      
        </section>
         <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">       
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name text-center">IRMI - Construction Risk and Insurance Specialist (CRIS)</h3>
                    <p class="description">Aon Plc said it’s no longer pursuing a combination with rival insurance brokerage Willis Towers Watson Plc, a day after
                    confirming that it was considering a tie-up.</p>           
                </div>
            </div>      
        </section>
         <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">       
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name text-center">Certified Insurance Counselors (CIC)</h3>
                    <p class="description">Aon Plc said it’s no longer pursuing a combination with rival insurance brokerage Willis Towers Watson Plc, a day after
                    confirming that it was considering a tie-up.</p>           
                </div>
            </div>      
        </section>
       
        {{!-- <section class="flex-container"></section>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="/courses"><img src="https://www.flaticon.com/premium-icon/icons/svg/1546/1546978.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Courses</h3>
                <p class="description">Add a your course and let your peers know how good or bad it is.</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="/professors"><img src="https://image.flaticon.com/icons/svg/1464/1464963.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Professors</h3>
                <p class="description">Add and rate your Professor. Let your peers get an insight on
                    popularity
                    of your
                    Professor. </p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="/notes"><img src="https://image.flaticon.com/icons/svg/326/326963.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Notes</h3>
                <p class="description">Add your Class Notes and share your knowledge with your peers.
                    Provide
                    test
                    hints so your peers can be more prepared.</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="/professors"><img src="https://image.flaticon.com/icons/svg/1464/1464963.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Professors</h3>
                <p class="description">Add and rate your Professor. Let your peers get an insight on
                    popularity
                    of your
                    Professor. </p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="/notes"><img src="https://image.flaticon.com/icons/svg/326/326963.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Notes</h3>
                <p class="description">Add your Class Notes and share your knowledge with your peers.
                    Provide
                    test
                    hints so your peers can be more prepared.</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="/notes"><img src="https://image.flaticon.com/icons/svg/326/326963.svg"
                        class="img-fluid" /></a>
                <h3 class="name">Notes</h3>
                <p class="description">Add your Class Notes and share your knowledge with your peers.
                    Provide
                    test
                    hints so your peers can be more prepared.</p>
            </div>
        </div>
    </div>
</div>
</section> --}}
