<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="font-size: 34px;height: 45px;"><strong>Insurance Certifications</strong></h2>
            <p class="text-center" style="font-size: 19px;height: 54px;">Further your INSURANCE education with and stand out above your peers!</p>
<img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/236/236839.svg" alt="Styles Pictures" style="height: 258px;">
        </div>
        </div>
        </div>
        <section class="flex-container card-flex" style="margin:35px;">        
            <div class="card" style="width: 100rem;">
                    <h3 class="name text-center">American Institute for CPCU (AICPCU)</h3>
                    <p class="description">Meet the changes and challenges of a demanding risk management and insurance marketplace with confidence and professionalism—earn the Chartered Property Casualty Underwriter (CPCU) designation.</p>
                    
                </div>
            {{!-- </div> --}}
        
        </section>
        <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">
                    <h3 class="name text-center">Certified Insurance Counselors (CIC)</h3>
                    <p class="description">The CIC program is continuously reviewed, updated, and expanded to fit your professional needs. The enhanced 2019 curriculum examines topics important to your success, including insurance exposures, exclusions, and coverages.</p>
                    
                </div>
            </div>
        
        </section>
        <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">
                    <h3 class="name text-center">Certified Insurance Service Representative (CISR)</h3>
                    <p class="description">The Certified Insurance Service Representative (CISR) designation empowers outstanding individuals to provide exceptional account management and customer service.</p>
                 
                </div>
            </div>
        
        </section>
        <section class="flex-container card-flex" style="margin:35px;">        
            <div class="card" style="width: 100rem;">      
                    <h3 class="name text-center">Certified Risk Managers International (CRM)</h3>
                    <p class="description">Risk Managers don’t leave anything to chance! Participate in the program that gives you a dependable advantage in the demanding field of risk management—the CRM Program.

Risk management is one of the many responsibilities of a variety of professionals, including accountants, attorneys, financial and insurance professionals, and specialists in loss control. If you are one of these practitioners, you may be ready to take courses or pursue your CRM designation. If you:</p>
                </div>       
        </section>
         <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">       

                    <h3 class="name text-center">Certified Insurance Counselors (CIC)</h3>
                    <p class="description">Aon Plc said it’s no longer pursuing a combination with rival insurance brokerage Willis Towers Watson Plc, a day after
                    confirming that it was considering a tie-up.</p>           
                </div>
            </div>      
        </section>
         <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">       
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name text-center">IRMI - Construction Risk and Insurance Specialist (CRIS)</h3>
                    <p class="description">Construction Risk and Insurance Specialist (CRIS®) continuing education (CE) program was developed by IRMI to make it much easier for insurance agents, brokers, CSRs, and in-house risk managers or insurance buyers to gain specialized expertise in construction insurance and risk management. Obtaining the CRIS certification will increase the competence, confidence, and credibility of insurance professionals who sell or underwrite insurance for contractors. </p>           
                </div>
            </div>      
        </section>
         <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">       
                {{!-- <div class="row articles"> --}}
                    {{!-- <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/167/167707.svg" alt="Styles Pictures">
                    --}}
                    {{!-- class="img-fluid" /></a> --}}
                    <h3 class="name text-center">Certified Insurance Counselors (CIC)</h3>
                    <p class="description">Aon Plc said it’s no longer pursuing a combination with rival insurance brokerage Willis Towers Watson Plc, a day after
                    confirming that it was considering a tie-up.</p>           
                </div>
            </div>      
        </section>
       

