<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="font-size: 34px;height: 45px;"><strong>Insurance News</strong></h2>
            <p class="text-center" style="font-size: 19px;height: 54px;">Check out what is currently happening in the INSURANCE world!</p>
             <img class="card-img-top ing-fluid" src="https://image.flaticon.com/icons/svg/254/254025.svg" alt="Styles Pictures" style="height: 288px;">
        </div>
        </div>
        </div>
        <section class="flex-container card-flex" style="margin:35px;">        
            <div class="card" style="width: 100rem;">

                    <h3 class="name text-center">The Story Behind the Aon and Willis Towers Watson Deal that Died a Quick Death</h3>
                    <p class="description">It’s not often that you hear about a $24 billion deal brewing in the financial services industry. It’s even rarer that
                    it goes from confirmation to breakup in less than a day.</p>
                    
                    <p>On Tuesday afternoon, Aon Plc confirmed a Bloomberg News report that it was considering a tie-up with Willis Towers
                    Watson Plc — a rival with a $24 billion market value — in a deal that could have transformed the insurance brokerage
                    industry. By Wednesday morning, the firm said it changed its mind, blaming Irish regulations that forced it to confirm
                    the talks at a very early stage once they had leaked.</p>
                    <p>The two companies had held preliminary discussions and Aon was preparing to submit a formal offer in the coming weeks,
                    people familiar with the plan had told Bloomberg. Talks were still in the early stages when news of the deal broke,
                    thrusting the discussion into the public, according to a person familiar with the matter who declined to be identified.
                    That made it difficult for Aon to move forward because it was still refining the terms of its offer, they said.</p>
                    
                    <p>Aon said it was considering an all-share offer, a proposal that would’ve gotten more expensive after news of their
                    deliberations sent their shares down 7.8 percent and their would-be target’s stock up 5.2 percent by the end of
                    Tuesday. That negative market reaction didn’t help the situation, the person said.
                    
                    Willis slumped 6.3 percent to $170.66 at 10:17 a.m. in New York, the biggest decline since August. Aon climbed 5
                    percent to $164.47.</p>
                    
                    <p>Representatives for Aon and Willis declined to comment.
                    
                    Regulatory Issues
                    Analysts at Wells Fargo & Co. pointed out that regulatory issues were bound to be a big overhang for a deal as Aon and
                    Willis are the second- and third-largest insurance brokers by revenue.
                    
                    “Regulatory issues among others, including accretion, lost business, etc could have impacted its decision not to pursue
                    a deal at this time,” the bank said in a note Wednesday.</p>
                    
                    <p>There’s a chance this won’t be the end to the Aon and Willis saga. Aon said in its Wednesday statement that it reserved
                    the right within the next 12 months to set aside that announcement that it wasn’t intending to pursue the Willis deal.
                    
                    While regulations restrict Aon from reaching out to Willis for at least a year, a person familiar with the matter said,
                    Willis is still free to approach Aon if it wants to pursue a deal.</p>
                </div>
            {{!-- </div> --}}
        
        </section>
        <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">
                    <h3 class="name text-center">Aon Will Not Pursue Merger with Willis Towers Watson</h3>
                    <p class="description">Aon Plc said it’s no longer pursuing a combination with rival insurance brokerage Willis Towers Watson Plc, a day after
                    confirming that it was considering a tie-up.
                    
                    The company said on Tuesday that it was in the early stages of exploring an all-share tie-up with Willis Towers after
                    Bloomberg reported the potential plans. The companies held preliminary talks and Aon was preparing to submit a bid in
                    the coming weeks, people familiar with the matter had said, asking not to be identified as the details aren’t public.
                    Aon shares fell 7.8 percent in New York on Tuesday, its biggest decline since 2009. A potential combination with Willis
                    — which gained 5.2 percent and had a market value of $23.5 billion at the close of trading — could have been the
                    industry’s largest-ever merger. Willis’s shares declined about 4 percent in early trading Wednesday.</p>
                    
                    <p>Wednesday’s Statement
                    Aon was required to issue Tuesday’s statement because Willis Towers Watson is subject to Irish regulatory requirements,
                    and Aon said it had to make the disclosure “at a very early stage in the consideration” Aon said it reserves the right
                    within the next 12 months to set aside Wednesday’s announcement where permitted under Irish Takeover Rules.</p>
                    
                    <p>Analysts Say
                    Wells Fargo said regulatory issues would be a big overhang for any deal between Aon and rival Willis Towers given the
                    size of the two companies, which are the second- and third-largest insurance brokers. Aon and Willis Towers’s
                    “potential transaction would put together two very large global insurance broking companies that are also engaged in a
                    number of human resources and management consulting practices,” Harry Fong, an analyst at MKM Partners, said Tuesday in
                    a note to clients. Buying Willis Towers might enable Aon to overtake Marsh & McLennan Cos. as the world’s largest
                    brokerage by revenue, according to data compiled by Bloomberg.</p>
                    
                    <p>Background
                    Brokerages, which help connect businesses looking for coverage with insurers, have been aggressively merging to
                    diversify, boost commissions and serve customers who increasingly want to deal with fewer intermediaries. Deals in the
                    broker space accounted for most of 2018’s insurance deals in the U.S. and Bermuda, according to a report from Deloitte.
                    Those deals were on average smaller than many transactions for underwriters, meaning the total value of brokerage deals
                    accounted for just 16 percent of total transactions in the space. The industry started 2019 with a sizable deal.
                    Private equity firm GTCR LLC and other buyers agreed in February to buy a majority stake in AssuredPartners Inc. from
                    Apax Partners. That transaction valued AssuredPartners at about $5.1 billion, according to people familiar with the
                    matter.</p>
                </div>
            </div>
        
        </section>
        <section class="flex-container card-flex" style="margin:35px;">
            <div class="card" style="width: 100rem;">

                    <h3 class="name text-center">Marsh & McLennan Moved Quickly as Stars and People Aligned in JLT Deal</h3>
                    <p class="description">Marsh & McLennan Inc. (MMC) has been preparing for a major acquisition and admiring its competitor Jardine Lloyd
                    Thompson (JLT) for years. So right after the CEOs of the two firms met on Sept. 7 and he sensed an opening, MMC CEO Dan
                    Glaser acted quickly and boldly.</p>
                    
                    <p>In a deal that was hammered out in about 11 days, Glaser and JLT Group CEO Dominic Burke agreed MMC would buy JLT for
                    about 4.3 billion pounds ($5.6 billion). “JLT hit every one of our boxes,” Glaser said, citing his firm’s philosophy that acquisitions bring quality talent,
                    strong organic growth, customer commitment, diversification, cost and revenue synergies and other qualities — all of
                    which it found in JLT.
                    
                    “We needed to build a proper foundation so we could be prepared for a large transaction like this,” Glaser said,
                    addressing why it had not made such a major deal years ago.
                    
                    But for any transaction to happen, the time has to feel right. “The stars and moon have to align for both companies,”
                    he told analysts about his meeting with Burke. “Both sides needed to think the timing was right.”</p>
                    
                     <p>The price has to feel right, too. MMC gave JLT shareholders, including Jardine Matheson Holdings that owns 40 percent,
                    an offer they couldn’t refuse. The 19.15 pounds-a-share ($25.11) offer is a 34 percent premium to JLT’s closing price
                    on Monday and 25 times JLT’s estimated 2019 earnings.
                    
                    The purchase will strengthen MMC’s specialty risk brokerage operations, expand its global reinsurance network and
                    enhance its position in Asia and Latin America.</p>
                    
                     <p>The deal will boost MMC’s revenues by about $17 billion. The company expects some cost savings (about $250 million over
                    three years) and faster revenue growth from the smaller JLT. Glaser said “JLT skews into higher growth areas” thus “it
                    should provide a lift over time.”

                    Glaser also noted that JLT has outperformed its peers, averaging 5 percent organic growth since 2012. MMC has been
                    averaging about 3-5 percent revenue growth a year.</p>
                    
                     <p>Glaser said while the acquisition makes his firm bigger, it mainly “accelerates” MMC’s existing strategy and aspiration
                    to be the preeminent global firm in the areas of risk, strategy and people. It is no great departure from what it now
                    does. “It’s keeping within our knitting,” he said.
                    
                    Moving beyond the deal terms and potential, in his call with analysts after the deal was announced, Glaser could not
                    stop talking about the people. The deal will add about 10,000 employees to the 55,000 MMC already has globally.</p>
                    
                     <p>Glaser said he has known Burke for 15 years and long respected him and the company he runs. Burke will join MMC as vice
                    chairman and serve as a member of MMC’s Executive Committee.
                    
                    Together MMC and JLT will have “the broadest and deepest collection” of talent in the industry, Glaser maintained.
                    
                    “On any given day they could have beaten any broker on an account. They are highly skilled, highly motivated, highly
                    specialized,” he said.</p>
                    
                     <p>The accolades kept coming: “JLT punches above its weight…;” the deal is a “tremendous injection of talent…;” JLT is
                    “excellent in everything they do…;” and JLT people share MMC’s “culture of integrity” and “relentless focus on client
                    service.”
                    
                    Asked how he will unite the cultures and hang onto employees, the MMC CEO maintained that the cultures are very similar
                    and that the resulting company will be “the employer of choice” in the sector.
                    
                    He expressed the same attitude toward keeping accounts: “We’re not giving up any accounts. We will fight to keep every
                    account.”</p>
                    
                     <p>While JLT has some traditional wholesale business in its mix, Glaser said the deal does not mean Marsh is getting back
                    into the wholesale business it exited when it sold its wholesale broker Crump in 2005. He said the term wholesale is an
                    “archaic one” for what he says has become specialty placement business rather than traditional third-party wholesale
                    brokerage business. He said every business has some, but JLT “does not have a dramatic amount “of third-party wholesale
                    business. “It’s not like we are entering a market we exited when we sold Crump,” he commented.
                    
                    As for upping its stake in the UK at a time when Brexit has many people anxious, Glaser shrugged, “so what.” He said
                    the UK is a “great place for business,” with resilient and remarkable people.
                    
                    “We’re happy to bet on Britain,” he said.</p>
                </div>
            </div>
        
        </section>
 